/*
-deben ser elementos por default que lucirán igual en todo el sitio, es .
-ningún estilo de estos elementos selectores deberá usar !important.
-no usar selectores tipo class o id.
*/

	
a
	text-decoration none
	
	&:hover
		text-decoration underline
		
	img
		border 0
body
	background-image url("../images/background.jpg")
	background-position center 0
	background-repeat no-repeat
	background-size auto
	color $gris
	font-size 1.4rem
	height 100vh
	position relative
	z-index 1
	// width 100%
		
	&::after,
	&::before
		background-repeat no-repeat
		background-size cover
		content ''
		pointer-events none
		position absolute
		transitionBase()
		z-index 0
	

	&::after
		height (57.9rem/2)
		path('adorno-derecha.png')
		right 0
		top 0
		width (45.7rem/2)
	

	&::before
		bottom 0
		height  100%
		left 0
		path('adorno-izquierda.png')
		width 34.8rem