//se pueden declarar con funciones
// make-prefix-column(num)
// make-prefix-column-offset(num)
// @stylint off

.col-video
	make-sm-column(10)
	make-sm-column-offset(1)
	margin-top 10rem
	transitionBase()



// @stylint on
//NO PASAR DE ACA