@media (max-width 1400px)
	.cabina-superior
		height 120px
		height 12vh
		max-height 170px
		

	.cabina-inferior
		
		height 120px
		height 12vh
		max-height 170px
		
@media (max-width 1000px)
	.contenidos
		.logos
			img
				width 50%
		.contenido-v
			width 80%
			
@media (max-width 850px)
	.cabina-superior
		height 20vh
		

	.cabina-inferior
		height 20vh
		
	.contenidos
		.logos
			img
				width 65%
		.contenido-v
			width 90%		

@media (max-width 600px)
	.cabina-superior
		background-size cover
		height 22vh
		

	.cabina-inferior
		background-size cover
		height 22vh
		
	.contenidos
		.logos
			img
				width 85%
		.contenido-v
			width 95%
	
	.legales
		font-size 1em
		
		p
			display block