/*

En este archivo se declaran los colores, las fonts y sus variaciones

las variables se deben declarar con $ al inicio del nombre de la variable

*/

//Paleta de colores del proyecto

$gris       = #434343
$dorado     = #09141a
$azul       = #1c3c4b


/*pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$font-stack = 'roboto', sans-serif

$bold              = 900
$normal            = 400
$light             = 300


//site grid spacing and width
$gutter            = 0.5rem
$site-width        = 110rem

//screen sizes - rewrite bootstrap

// $screen-xs      = 320px // 480px
$screen-sm         = 770px // 768px
$screen-md         = 900px //992px
$screen-lg         = 1100px // 1200px
$grid-gutter-width = $gutter
