//Footer

footer.container-fluid
<<<<<<< HEAD
	div.legales
		p.
			by BRM&nbsp;&nbsp;&nbsp;
		p.derechos.
			BRM 2017 Todos los derechos reservados&nbsp;
		a(href="https://www.brm.com.co/politicas-de-privacidad" target="_blank" title="Políticas de privacidad").
			| Políticas de privacidad
		a(href="https://www.brm.com.co/documentos/manual-de-tratamiento-firma-BRM.pdf" target="_blank" title="Tratamiento de datos").
			| Tratamiento de datos

=======
>>>>>>> 5eb8f3869dfd21aa9e64a03584e73432a0366591
	div.cabina-inferior.avion


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/efectos.js')

else
	script(src='js/libs/jquery.js')
	script(src="js/libs.min.js")
	script(src='js/efectos.js')