//Footer

footer.container-fluid
	div.cabina-inferior.avion


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/efectos.js')

else
	script(src='js/libs/jquery.js')
	script(src="js/libs.min.js")
	script(src='js/efectos.js')