mixin image(src, name)
	img(src="assets/images/"+src, title=name, alt=name)&attributes(attributes)

//-Implementation
	+image('filename', 'alt/title text')(other attributes)

mixin modal(id)
	//Modal
	div.modal.fade(id=id, tabindex="-1", role="dialog")
		div.modal-dialog(role="document")
			//Close button
			button.btn.btn-close.close(type="button", data-dismiss="modal" aria-label="Close")
				i.icon.icon-close
			///-Close button

			//Content
			div.modal-content
				block
			///-Content
	
	///-Modal