//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	title BRM | Avianca

//-Etiqueta Metadescription
block description
	meta(name="description", content="Avianca BRM" )
	link(rel="shortcut icon" type="image/png" href="images/favicon.png")


block content
	section.container-fluid
		div.row
			div.contenidos.contenidos-webkit
				h1.logos
					img(src="images/logos-avianca-brm.png" alt="BRM & Avianca" Title="BRM & Avianca")
				div.contenido-v
					div.marco-video
						img(src="images/marco-video.png" alt="marco" title="marco efectos")
					div.video.embed-responsive.embed-responsive-16by9
						video.embed-responsive-item.video-js(data-setup='{"controls": true, "autoplay": false, "preload": "auto"}' poster="images/cover.jpg")
							source(src="images/media/video-brm-avianca.mp4" type="video/mp4")
							source(src="images/media/video-brm-avianca.webm" type="video/webm")
							source(src="images/media/video-brm-avianca.ogv" type="video/ogg")
				


	div#sparks





	
	

block Scripts
	//-Acá se ponen js que solo vayan en ésta página

